---
layout: base
---
<html lang="{{ site.lang }}">

<div class="intro-header"></div>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {{ content }}

<div class="post-preview">
  <!-- Contenido de la publicación -->
  <a href="/contact" class="contact-button">Contact Us</a>
</div>

  <div class="sidebar">
  {% include social-networks-links.html %}
</div>

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}


</main>
